*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1c1f21;
}
.green{
  color:green
}
.red{
  color:red
}
.crypto-list {
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.money-section {
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block: 25px;
    cursor: pointer;
    color: white;
    height: 230px;
    border: 2px solid #e9ad03;
    border-radius:10px;
    padding-block: 10px;
    transition: .3s all;
}

.money-section:hover {
transform: scale(1.05) translateY(-2px);
}

img {
    width: 90px;
    height: 90px;
}

.topic {
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-block: 25px;
}

input[type="text"] {
    width: 250px;
    height: 35px;
    padding-left: 10px;
    background: #f3ba2f;
    border: none;
    border-radius: 25px;
    color:white;
    letter-spacing: 1.2px;
}
input:focus {
outline: unset;
}